<div class="container">
    <div class="news-box">
      <h2>News & Announcements</h2>
      <p>Opening Tickets for EHPAS Support</p>
      <p>To open a ticket for EHPAS Support, please use <a href="#">IT Connect</a>. Detailed instructions can be found in the "Opening a Ticket for EHPAS Support" section of the <a href="#">EHPAS User Guide.</a></p>
      <p>EHPAS Documentation</p>
      <p>All EHPAS documentation can be found with the <a href="#">EHPAS Support Documents.</a> For those that are new to EHPAS, please start with the "How to Use This Guide" section of the <a href="#">EHPAS User Guide.</a></p>
      <p>Test</p>
    </div>
    <div class="contact-details">
      <h2>Contact Details</h2>
      <p>Documentation: <a href="#">EHPAS Support Documents</a></p>
      <p>Contact Us: <a href="#">Open ticket to EHPAS Team</a></p>
      <p>Client Download: <a href="#">Download EHPAS & ETA Clients</a></p>
    </div>
    <div class="documentation-link">
      <h2>Documentation</h2>
      <p><a href="#">Unclaimed Devices</a></p>
      <p><a href="#">EHPAS Statistics</a></p>
    </div>
  </div>
  
  